h1{
    background-color: aquamarine;
    color: brown;
}
h3{
    color:chocolate ;
}

h4{
    color: cornflowerblue;
}
pre{
   color: cornflowerblue;
}
h2{
    color: darkgreen;
}
p{
    color:palevioletred;
}
b{
    color:palevioletred;
}

   