.container {
    /* border:2px solid black; */
    background-color: white;
    position: fixed;
    /* color:black ;
    width: 100%;
    height: 100px; */
    position: relative;

}

.item-1 {
    display: inline-block;
    position: sticky;
    margin-left: 85%;
}

.container2 h1 {
    position: absolute;
    top: 400px;
    left: 650px;

}